.Result-Logo {
    display: none;
}

.Result-Skin {
    text-transform: uppercase;
    font-size: var(--size-bigger-text);
    margin: 25px 0;
}

.Result-DELETE_THIS {
    text-decoration: none;
    color: var(--color-main);
}

.Result-Extender {
    flex: 1;
}

@media screen and (min-height: 600px) {
    .Result-Logo {
        display: block;
        align-self: center;
        margin-bottom: 20px;
    }
}

@media screen and (min-height: 700px) {
    .Result-Logo {
        margin-bottom: 40px;
    }
}

@media screen and (orientation: landscape) and (max-height: 400px) {
    .Result-SkinType {
        display: flex;
        align-items: center;
    }
    .Result-SkinType .Text {
        margin-top: 0;
        margin-right: 10px;
    }

    .Result-Skin {
        margin: 10px 0;
    }
}

@media screen and (orientation: landscape) and (max-height: 650px) {
    .Modal .Button {
        min-height: 60px;
    }
}
