.Button {
    width: 250px;
    align-self: center;
    border: none;
    height: 50px;
    border-radius: 15px;
    background-color: var(--color-pink);
    color: var(--color-main);
    font-weight: bold;
    font-family: "Ropa Sans SC Pro";
    font-size: var(--size-main-text);
}

.Button_isLink {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
