.Questionnaire {
    height: 100%;
}

.Questionnaire-Quiz {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.Questionnaire-Buttons {
    display: flex;
    justify-content: space-between;
    padding: 0 25px;
}

@media screen and (min-height: 600px) {
    .Questionnaire {
        padding-top: 40px;
        padding-bottom: 20px;
    }
}
