.Layout {
    display: flex;
    height: 100%;
    box-sizing: border-box;
    flex-direction: column;
    margin: 0 auto;
    background-image: url('./img/rounds.png');
    background-repeat: no-repeat;
    padding: 40px 20px 20px;
}

.Layout_illustration_top {
    background-size: var(--size-illustration-m);
    background-position: top -265px center;
}

.Layout_illustration_bottom {
    background-size: var(--size-illustration-xs);
    background-position: bottom -100px center;
}

.Layout_illustration_left-big {
    background-size: var(--size-illustration-s);
    background-position: top 50% left -260px;
}


.Layout_illustration_right-big {
    background-size: var(--size-illustration-s);
    background-position: top 50% right -260px;
}

.Layout_illustration_left-small {
    background-size: var(--size-illustration-xxs);
    background-position: bottom 0 left -110px;
}

.Layout_illustration_left-small-centred {
    background-size: var(--size-illustration-xxs);
    background-position: center left -150px;
}

.Layout_illustration_right-small {
    background-size: var(--size-illustration-xxs);
    background-position: top 0 right -110px;
}


.Layout_illustration_top-and-left {
    background-image: url('./img/rounds.png'), url('./img/rounds.png');
    background-size: var(--size-illustration-xs), var(--size-illustration-xs);
    background-position: bottom 0 left -200px, top -260px center;
}

.Layout_illustration_top-and-right {
    background-image: url('./img/rounds.png'), url('./img/rounds.png');
    background-size: var(--size-illustration-s), var(--size-illustration-xs);
    background-position: top 50% right -260px, top -270px center;
}

@media screen and (min-width: 425px) {
    .Layout_illustration_top {
        background-size: var(--size-illustration-l);
        background-position: top -295px center;
    }

    .Layout_illustration_bottom {
        background-size: var(--size-illustration-s);
        background-position: bottom -130px center;
    }

    .Layout_illustration_left-small {
        background-size: var(--size-illustration-xs);
        background-position: bottom 0 left -145px;
    }

    .Layout_illustration_right-small {
        background-size: var(--size-illustration-xs);
        background-position: top 0 right -145px;
    }

    .Layout_illustration_left-small-centred {
        background-size: var(--size-illustration-xs);
        background-position: center left -200px;
    }
}
