.Upload-Logo {
    display: none;
}

.Upload-Wave {
    margin-top: 45px;
}

.Upload-Icons {
    display: flex;
    flex: 1;
    align-items: flex-end;
    justify-content: space-between;
}

@media screen and (min-height: 600px) {
    .Upload-Box {
        padding-bottom: 20px;
    }

    .Upload-Logo {
        display: block;
        align-self: center;
        margin-bottom: 20px;
    }
}

@media screen and (min-height: 700px) {
    .Upload-Logo {
        margin-bottom: 40px;
    }
}

@media screen and (orientation: landscape) and (max-height: 600px) {
    .Upload-Wave {
        display: none;
    }
}

@media screen and (orientation: landscape) and (max-height: 400px) {
    .Upload-Box .IconButton-Text {
        margin: 10px 0;
    }

    .Upload-Box .IconButton {
        width: 180px;
    }

    .Upload-Box .IconButton-Text {
        max-width: 180px;
    }
}
