.QuestionItem {
    display: flex;
    color: var(--color-main);
}

.QuestionItem-Radio {
    width: 10px;
    min-width: 10px;
    height: 10px;
    border: 2px solid var(--color-pink);
    border-radius: 50%;
}

.QuestionItem-Radio_checked {
}

.QuestionItem-Text {

}
