.Main {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
}

.Main-Content {
    display: flex;
    height: 100%;
    flex-direction: column;
    width: 100%;
}

.Main-Hello {
    margin-bottom: 0;
}

.Main .Text:nth-child(3) {
    flex: 1;
}

@media screen and (min-width: 425px) {
    .Main {
        padding-top: 45px;
    }
}
