.Header {
    width: 100%;
    max-width: 300px;
    text-align: center;
    color: var(--color-main);
    margin: 0 auto;
    font-size: 10px;
}

.Header_main {
    color: var(--color-silver);
    max-width: 280px;
}

.Header_main .Header-Text {
    font-family: 'Ropa Sans Pro';
    font-weight: normal;
}

.Header_main .Header-Wave {
    margin-top: 10px;
}
