.App {
  background-color: var(--color-main-bg);
  height: 100%;
  min-height: 320px;
}

@media screen and (orientation: landscape) {
    .App {
      height: 100vh;
      height: calc(var(--vh, 1vh) * 100);
    }
}

@media screen and (orientation: landscape) {
  .App {
    background: lime;
  }
}
