@font-face {
  font-family: 'Ropa Sans Pro';
  src: url('fonts/RopaSansSCPro-Regular.eot');
  src: local('Ropa Sans Pro'), local('RopaSansPro-Regular'),
      url('fonts/RopaSansSCPro-Regular.eot?#iefix') format('embedded-opentype'),
      url('fonts/RopaSansSCPro-Regular.woff2') format('woff2'),
      url('fonts/RopaSansSCPro-Regular.woff') format('woff'),
      url('fonts/RopaSansSCPro-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Ropa Sans SC Pro';
  src: url('fonts/RopaSansSCPro-Medium.eot');
  src: local('Ropa Sans SC Pro Medium'), local('RopaSansSCPro-Medium'),
      url('fonts/RopaSansSCPro-Medium.eot?#iefix') format('embedded-opentype'),
      url('fonts/RopaSansSCPro-Medium.woff2') format('woff2'),
      url('fonts/RopaSansSCPro-Medium.woff') format('woff'),
      url('fonts/RopaSansSCPro-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

html, body, #root, .App {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Ropa Sans Pro', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* constants */

:root {
  --color-main-bg: #fff;
  --color-silver: #98989c;
  --color-main: #69676c;
  --color-pink: #ffd9d9;
  --color-light-pink: #ffcccc;
  --color-blue: #8fb0d7;

  --max-layout-width: 425px;
  --min-layout-width: 250px;

  --size-header: 20px;
  --size-main-text: 16px;
  --size-illustration-xxs: 300px;
  --size-illustration-xs: 400px;
  --size-illustration-s: 520px;
  --size-illustration-m: 750px;
  --size-illustration-l: 850px;
}
